body{
  background: radial-gradient(circle, #491902,#0f0201 );
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.home{
  color: antiquewhite;
}
.container {
  width: 95%;
  max-width: 1800px;
  margin: 0 auto;
}

